﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Ehee.aspx.cs" Inherits="TeineVeeb.Ehee" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    <form id="form1" runat="server">
        <div>
            <asp:Calendar ID="Calendar1" runat="server"></asp:Calendar>
            <asp:Image ID="Image1" runat="server" /></div>
    </form>
</body>
</html>
