﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Tooted.aspx.cs" Inherits="TeineVeeb.Tooted" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
        <asp:DropDownList ID="valik" runat="server" OnSelectedIndexChanged="valik_SelectedIndexChanged" AutoPostBack="true"></asp:DropDownList>
        <asp:GridView ID="griidike" runat="server" OnLoad="griidike_Load"></asp:GridView>
    </form>
    
</body>
</html>
